/** Add css rules here for your application. */
.TopRight {
	float: left;
	margin-top: -25px;
	margin-left: -10px;
	width: 16px;
	height: 16px;
	display: block;
}

.OrganismUI {
	border: none;
	width: 17px;
	height: 17px;
}

.CountLabel {
	border: none;
	width: 17px;
	height: 17px;
}