.genex-button {
    margin-right: -8px;
    height: 40px !important;
}

.genex-label {
    /*font: normal normal normal 10pt/normal 'Open Sans', Verdana, Geneva, sans-serif !important;*/
    /*padding: 4px 0px 0px 10px !important;*/
    font-family: sans-serif !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: bold !important;
    padding-top: 6px !important;
    margin-left: 18px;
}

.genex-dialogbox {
	border: 5px ridge;
	background-color: rgb(248,248,248);
}

.gwt-HTML {
	cursor: default;
	overflow-x: auto !important;
	overflow-y: auto !important;
	background-color: rgb(248, 248, 248) !important;
}

.genex-scrollpanel {
    word-wrap: normal !important;
    white-space: pre !important;
}

pre, #dna-strand {
    font-family: 'courier new', courier !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    border-style: none !important;
    background-color: rgb(248, 248, 248) !important;	
    word-wrap: normal !important;
    white-space: pre !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

