.mainMenuBar {
	position: absolute;
	left: 0;
}

.mainMenuBar .gwt-MenuBar {
  cursor: default;

}

.mainMenuBar .gwt-MenuItem {
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
  border: 1px solid black;
  background: #f0f0f0;
}

.mainMenuBar .gwt-MenuItem-selected {
  background: #E3E8F3;
}

.mainMenuBar .menuBarPopup {
	background: red;
}

.colorChip {
	border: 1px solid black;
	width: 40px;
	height: 20px;
}