.mainMenuBar {
	position: absolute;
	left: 0;
}

.mainMenuBar .gwt-MenuBar {
  cursor: default;
}

.mainMenuBar .gwt-MenuItem {
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
  border: 1px solid black;
  background: #f0f0f0;
}

.mainMenuBar .gwt-MenuItem-selected {
  background: #E3E8F3;
}

.mainMenuBar .menuBarPopup {
	background: red;
}

.colorChip {
	border: 1px solid black;
	width: 40px;
	height: 20px;
}

.mainPanel {
	width: 1500px;
	height: 2000px;
}

.explorerPane {
	width: 1000px;
	height: 2000px;
}

.greenhousePanel {
	width: 100px;
}

.unSelectedOrganismUI {
	background: white;
}

.selectedOrganismUI {
	background: lightblue;
}

.offspringDisplayPanel {
	width: 500;
	height: 250;
}

.gwt-TabLayoutPanelTab {
	border: 1px solid black;
	background: lightgray;
	margin: 5px;
	padding: 5px;
}

.gwt-TabLayoutPanelTab-selected {
	background: lightblue;
}

.enterNameDialog {
	background: lightblue;
}

.geneticsHistList {
	width: 180px;
	height: 800px;
}

.busyPopup {
	border: 1px solid black;
	background: lightblue;
	padding: 100px;
}

.biochemAATable {
	width: 180px;
}

.histListButton {
	border: 1px solid blue;
}

.biochemHistList {
	width: 180px;
	height: 800px;
}

.BiochemButtonPanel .gwt-Button {
	margin-left: 10px;
	margin-right: 10px;
}

.proteinSequenceEntryBox {
	width: 500px;
	height: 30px;
	border: 1px solid black;
	font-family: courier;
}

.proteinPanel {
	width: 500px;
	height: 250px;
}

.proteinPanelWrapperFOLDED {
	border: 1px solid black;
}

.proteinPanelWrapperNotFOLDED {
	border: 2px solid red;
}

.MoBoDNApanel {
	width: 500px;
	height: 250px;
}

.MoBoButtonPanel .gwt-Button {
	margin-left: 10px;
	margin-right: 10px;
}