.mainMenuBar {
	position: absolute;
	left: 0;
}

.mainMenuBar .gwt-MenuBar {
  cursor: default;
}

.mainMenuBar .gwt-MenuItem {
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
  border: 1px solid black;
  background: #f0f0f0;
}

.mainMenuBar .gwt-MenuItem-selected {
  background: #E3E8F3;
}

.mainMenuBar .menuBarPopup {
	background: red;
}

.colorChip {
	border: 1px solid black;
	width: 40px;
	height: 20px;
}

.colorChipLabelText {
	font-size: 10px;
}

.mainPanel {
	width: 1100px;
	height: 1050px;
	background: lightblue;
	border: 1px solid black;
}

.explorerPane {
	width: 900px;
	height: 1000px;
}


.comparisonResultDialog {
	border: 3px double black;
	background: lightgray;
}

.closeComparisonResultButton {
	border: 1px solid black;
	margin-left: 50%;
}

.greenhousePanel {
	width: 100px;
	background: white;
}

.unSelectedOrganismUI {
	background: white;
}

.selectedOrganismUI {
	background: lightblue;
}

.offspringDisplayPanel {
	width: 600;
	height: 250;
}

.gwt-TabLayoutPanelTabs {
	border: none;
	background: lightblue;
}

.gwt-TabLayoutPanelTab {
	background: lightgray;
	padding: 5px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.gwt-TabLayoutPanelTab-selected {
	background: white;
}

.gwt-TabLayoutPanelContent {
	background: white;
}

.enterNameDialog {
	background: lightblue;
}

.geneticsHistList {
	width: 180px;
	height: 800px;
}

.busyPopup {
	border: 1px solid black;
	background: lightblue;
	padding: 100px;
}

.biochemAATable {
	width: 180px;
}

.histListButton {
	border: 1px solid blue;
}

.biochemHistList {
	width: 180px;
	height: 800px;
}

.BiochemButtonPanel .gwt-Button {
	margin-left: 10px;
	margin-right: 10px;
}

.proteinSequenceEntryBox {
	width: 500px;
	height: 30px;
	border: 1px solid black;
	font-family: courier;
}

.proteinPanel {
	width: 600px;
	height: 250px;
}

.proteinPanelWrapperFOLDED {
	border: 1px solid black;
}

.proteinPanelWrapperNotFOLDED {
	border: 2px solid red;
}

.MoBoDNApanel {
	width: 600px;
	height: 250px;
}

.MoBoButtonPanel .gwt-Button {
	margin-left: 10px;
	margin-right: 10px;
}

.world {
	width: 1000;
	height: 1000;
}

.fitnessSettingPanel {
	width: 500;
	height: 1000;
	background: lightgray;
}

.dp-spinner-upbutton {
	border: 1px solid black;
	background: url("images/upButton.gif");
}

.dp-spinner-downbutton {
	border: 1px solid black;
	background: url("images/downButton.gif");
}

.selected-thinOrgansm {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background: lightblue;
}

.unselected-thinOrganism {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background: white;
}

.evolutionButton {
	margin: 5px;
}